---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Startseite"
  description="Willkommen zur Astro Container Demo App"
>
  <h1>Willkommen!</h1>
  <p>
    Dies ist eine einfache statische Webseite, erstellt mit Astro.js. Sie dient
    als Beispiel für die Containersierung mit Docker.
  </p>
</BaseLayout>
